@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: "Open Sans", serif;
}
h1 {
  font-size:3.5rem;
}
.wrapper {
  height: 75vh;
  
}

.main {
  height: 90vh;
  width: 80%;
  margin:0 auto;
  
}

.title-container {

}

.title-container__title {

}

.title-container__subtitle {
  font-weight: lighter;
  letter-spacing: 2px;
  font-size: 18px;
}

.form-container {

}

select {
  border:none;
  outline:none;
  border-bottom: solid 1px #f16051;
  padding-bottom: 4px;
  font-weight: lighter;
  letter-spacing: 2px;
  font-size: 14px;
}

option {
  font-weight: lighter;
  letter-spacing: 2px;
  font-size: 14px;
}

select:active {

}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #f16051;
  /* width: 30%; */
  padding-bottom: 4px;
  font-weight: lighter;
  letter-spacing: 2px;
  /* margin-bottom: 30px;
  margin-right: 20px; */
  font-size: 14px;
}

input[type="text"] { 
  outline: none;
}

input:-webkit-autofill {

}

button {
  border: 0;
  padding: 8px 5px;
  border-radius: 3px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #f16051;
  color: #fff;
  font-weight: 100;
}

button:active {
  outline: none;
}

.weather__info {

}

.weather__key {

}

.weather__key:last-child {

}

.weather__value {

}

.weather__error {

}